body{
background-image: url(../pic/2.webp);
background-repeat:no-repeat;
background-attachment: fixed;
background-size:cover;
}
.div1{
  margin-top:70px;
}
.div2{
  width:100%;
  background:rgba(230,230,230,0.47);
  margin-top:20px;
}

